body {
      /* background cplor:red
}

h1 {
color:brown
font-size: 36px:
}

p {
 color:darkred
text-align:right:display: ;
}

/* ID selector */
# <promo> { 
background-color: brown;
font-family: Verdana, Geneva, Tahoma, sans-serif;
}
/* Class selector */
.jentry {
    background-color: orangered;
}
/* Grouping selectors */
article h2
aeticle p{ 

    text-align:
}